/* Global styles */
*{
  box-sizing: border-box;
}

html{
  height: 100%;
  scroll-behavior: smooth;
}

body{
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 0;
  margin: 0;
  font-family: "Rubik", "Ariala", sans-serif;
  font-size: 16px;
  line-height: 22px;
  color: #4A4B4C;
}

h1,h2{
  visibility: hidden
}

img{
  max-width: 100%;
  height: auto;
}

.button {
  display: inline-block;
  padding: 13px 20px;
  border: 0;
  border-radius: 10px;
  font-size: 16px;
  line-height: normal;
  font-weight: 500;
  text-decoration: none;
  text-align: center;
  cursor: pointer;
}

.button:hover{
  opacity: 0.8;
}

.button:active{
  opacity: 0.6;
}

.button-block{
  display: block;
  width: 100%;
}

.container{
  width: 100%;
  max-width: 1240px;
  padding-right: 20px;
  padding-left: 20px;
  margin-left: auto;
  margin-right: auto;
}

*:focus{
  outline: 2px dashed #7296ec;
  outline-offset: 3px;
}

/* SITE_HEADER_TOP */
.site-header-top {
  background-color: #F6F6F6;
  padding-top: 30px;
  padding-bottom: 30px;
  margin-bottom: 30px;
}
.site-header-top-container {
  display: flex;
  align-items: center;
}

.site-header-logo {
  background-color: #fff;
  display: flex;
  padding: 8px 6px;
  border-radius: 7px;
  margin-right: 35px;

}

.site-header-logo:hover{
  opacity: 0.8;
}

.site-header-logo:active{
  opacity: 0.6;
}

.logo-img {
  font-family: Rubik;
  font-weight: bold;
  font-size: 24px;
  line-height: 28px;
  color: #7296EE;
}

.currency-rates {
  display: flex;
  align-items: center;
  padding: 0;
  margin: 0;
  margin-right: auto;
  list-style: none;
}

.currency-rates-iteam:not(:last-child) {
  margin-right: 25px;
}

.currency-rates-type {
  font-weight: bold;
  color: #2959CE;
}

.lang-toggle {
  display: flex;
  margin-right: 25px;
  border-radius: 39px;
  background-color: #dce6ff;
  padding: 3px;

}

.lang-toggle-link {
  width: 30px;
  height: 30px;
  text-align: center;
  font-size: 13px;
  color: #a6a6a6;
  list-style-type: none;
  text-decoration: none;
  border-radius: 50%;
  line-height: 30px;

}

.lang-toggle-link-active {
  background-color: #fff;
  color: #000
}

.button-primary {
  display: block;
  padding: 13px 20px;
  background-color: #7296ec;
  color: #fff;
  text-decoration: none;
  border-radius: 10px;
  line-height: normal;
}



/* GLOBAL SEARCH FORM */
.global-search-name {
  margin-right: 25px;
}

.input-search-form-input {
  padding-top: 15px;
  padding-bottom: 13px;
  padding-left: 41px;
  padding-right: 20px;
  font-size: 14px;
  line-height: 17px;
  color: #8d8d8d;
  border: none;
  border-radius: 60px;
}

.sitenav {
  border-bottom: 1px solid #d1d1d1;
  padding-bottom: 20px;
  margin-bottom: 40px;
  font-weight: 500;
  font-size: 18px;
  line-height: normal;
}

.sitenav-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  padding: 0;
  flex-wrap: wrap;
  list-style-type: none;
}

.sitenav-iteam:not(:last-child){
  margin-right: 35px;
}

.sitenav-link {
  display: block;
  color: #7F7F7F;
  text-decoration: none;
}

.sitenav-link:hover{
  color: #7296ec;
}
.sitenav-link:active{
  color: #2959ce;
}

.site-banner {
  display: flex;
}
.banner-link {
  width: 100%;
}
.banner-img {
  width: 100%;
}


/* SITE-MAIN */
.site-main{
  flex-grow: 1;
  padding-top: 50px;
}


/* SITE NEWS GRIDS */
.news-grid {
  display: flex;
  flex-wrap: wrap;
  margin-left: -10px;
}

.news-grid-item {
  width: 393px;
  margin-left: 10px;
  margin-bottom: 10px;
}

.article-card {
  display: flex;
  flex-direction: column;
  margin-top: auto;
  background-color: #f6f6f6;
  border-radius: 15px;
  padding: 20px 17px 15px;
}

.artice-card-title {
  margin-top: 0;
  margin-bottom: 10px;
  font-size: 20px;
  font-weight: 500;
  line-height: 26px;
}

.article-card-link {
  display: inline-block;
  color: #000;
  text-decoration: none;
}

.article-card-link:hover{
  color:#7296ef;
  opacity: 0.8;
}

.article-card-title {
  margin-top: 0;
  margin-bottom: 15px;
}

.article-card-img {
  display: block;
  width: 360px;
  height: 165px;
  margin-bottom: 15px;
  border-radius: 10px;
  object-fit: cover;
}

.article-card-footer {
  display: flex;
  align-items: center;
}

.article-card-source-icon {
  width: 20px;
  height: 20px;
  margin-right: 10px;
  border-radius: 5px;
}

.article-card-source-time {
  font-size: 12px;
  line-height: normal;
  color: #5E5F61;
}
.artice-card-source {
}



/* NEWS NOTIFICATION */
.notification-cta {
  padding: 25px 75px 25px 25px;
  margin: 60px 75px;
  background-color: #ffceab;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;

}
.notification-cta-text {
  font-size: 20px;
  font-weight: 500;
  line-height: 26px;
  color: #000;
}

.button-orange {
  background-color: #f78b3b;
  color: #fff;
}


/* GLOBAL NEWS CARD  */

.world-news-card-size{
  width: 797px;
}

.world-news-heading {
  color: #000;
  margin-top: 0;
  margin-bottom: 20px;

}
.world-news-card {
  display: flex;
  flex-direction: column;
  margin-bottom: 17px;
}
.world-news-card-item:not(:last-child) {
  margin-bottom: 10px;
}

.article-card-horizontal{
  display: flex;
  align-items: flex-start;
  padding: 20px;
  background-color: #f6f6f6;
  border-radius: 15px;
}
.wolrd-news-card-item-img {
  width: 210px;
  height: 165px;
  margin-right: 15px;
  object-fit: cover;
  border-radius: 10px;
}

.world-news-card-item-info {
  flex-grow: 1;
}

.world-news-card-item-info-title {
  margin-top: 0;
  margin-bottom: 10px;
  font-size: 20px;
  line-height: 26px;
  font-weight: 500;
}

.world-news-card-title-link{
  text-decoration: none;
  color: #000;
}

.world-news-card-title-link:hover{
  color: #2959ce;
  opacity: 0.8;
}

.world-news-card-title-link:active{
  opacity: 0.6;
}
.world-news-card-item-info-text {
  margin-top: 0;
  margin-bottom: 17px;
  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
  color: #4a4b4c;
}
.world-news-footer {
  display: flex;
  align-items: center;
}
.world-news-footer-icon {
  width: 20px;
  height: 20px;
  margin-right: 10px;
  border-radius: 5px;

}
.world-news-footer-source-time {
  font-size: 14px;
  line-height: 12px;
  font-weight: normal;
  color: #5e5f61;
}

.button-grey{
  width: 767px;
  padding: 17px;
  font-size: 16px;
  font-weight: 500;
  line-height: 19px;
  border-radius: 10px;
  border: 0;
  color: #000;
}

/* SIDEBAR-NEWS-CARD */
.sidebar-news-card {
  margin-top: 43px;
  width: 393px;

}

.sidebar-new-card-without-img{
  background-color: #f6f6f6;
  padding: 20px;
  border-radius: 15px;
  margin-bottom: 10px;
}
.sidebar-news-header {
  margin: 0;
  padding: 0;
  font-size: 24px;
  line-height: 28px;
  font-weight: 500;
  color: #000;
}
.sidebar-news-list {
  padding: 0;
  list-style: none;
}


.sidebar-news-item-heading {
  font-size: 18px;
  line-height: 24px;
}
.sidebar-news-item-link {
  text-decoration: none;
  color: #000;
}

.sidebar-news-item-link:hover{
  color: #2959ce;
  opacity: 0.8;
}

.sidebar-news-item-link:active{
  opacity: 0.6;
}

.sidebar-new-footer-source-time {
  margin-top: 8px;
  color: #5E5F61;
  padding-bottom: 20px;
  border-bottom: 1px solid #D2D2D2;
}

.sidebar-new-footer-source-time:not(:last-child){
  border-bottom: 0;
}

.layout{
  display: flex;
  align-items: flex-start;
}


/* SITE-FOOTER */
.site-main-footer {
  background-color: #7297ef;
}
.site-main-footer-bg {
  padding: 40px 221px;
  display: block;

}
.site-main-footer-heading {
  display: block;
  margin: 0;
  padding: 0;
  margin-bottom: 15px;
  font-weight: bold;
  font-size: 24px;
  line-height: 28px;
  color: #FFFFFF;
}

.footer-info-wrapper {
}
.footer-info-card {
  display: flex;
  align-items: flex-start;

}
.footer-copyright {
  width: 230px;
  margin-right: 203px;
}
.footer-coyright-text {
  margin: 0;
  padding: 0;
  font-size: 12px;
  line-height: 19px;
  color: #fff;
}
.footer-site-info-contact {
  justify-content: flex-start;
  margin-right: 100px;
}

.footer-site-info-contact-list {
  margin: 0;
  padding: 0;
  list-style: none;
}
.footer-site-info-contact-list-item {
  margin-bottom: 20px;

}
.footer-site-info-contact-list-link {
  margin: 0;
  padding: 0;
  text-decoration: none;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #fff;
}
.footer-about-us {
  margin-right: 221px;
  margin-left: 221px;
}


.footer-about-us-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.follow-us {
  display: flex;
  align-items: center;
  border-top: 1px solid #CECECE;


}
.folow-us-text {
  width: 161px;
  margin-right: 600px;
  font-weight: 500;
  font-size: 18px;
  line-height: 23px;
  color: #FFFFFF;
}

.social-network-wrapper{
}


.social-network-list {
  display: flex;
  list-style: none;
}

.social-network-item {
  margin: 0;
  padding: 0;
}

.social-network-item:not(:last-child){
  margin-right: 25px;
}

.social-network-item-link {
  text-decoration: none;

}
